Package: com.popsicletreehouse.pencilchargingindicator14
Name: PencilChargingIndicator14
Version: 0.0.1
Architecture: iphoneos-arm
Description: Add the apple pencil charging animation to your iPhone
Maintainer: PopsicleTreehouse
Author: PopsicleTreehouse
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
